<nav class="navbar">
    <ul class="navbar_nav">
        <li class="nav_item">
            <a href="#" class="nav_link">
                <img src="../../assets/Guis/Inbound.png" alt="Inbound" class ="image">
                <span class="link_text">   Inbound</span>
            </a>
        </li>
        <li class="nav_item">
            <a href="#" class="nav_link">
                <img src="../../assets/Guis/Outbound.png" alt="Outbound" class ="image">
                <span class="link_text">   Outbound</span>
            </a>
        </li>
        <li class="nav_item">
            <a href="#" class="nav_link">
                <img src="../../assets/Guis/YARD_COUNT.png" alt="YARD_COUNT" class ="image">
                <span class="link_text">   Yard Count</span>
            </a>
        </li>
        <li class="nav_item">
            <a href="#" class="nav_link">
                <img src="../../assets/Guis/LOOK_UP.png" alt="Search" class ="image">
                <span class="link_text">   Search</span>
            </a>
        </li>
    </ul>
</nav>
